/* ------------------------------------ */
/*                 CSS                  */
/*         Add your styles here         */
/* ------------------------------------ */
.token-sheet.gurp-gridless-active .tab[data-tab="appearance"] .form-group:has( input[name="width"]) {
    display: none;
}

.token-sheet.gurp-gridless-active .tab[data-tab="appearance"] .form-group:has( select[name="hexagonalShape"]) {
    display: none;
}

.token-sheet.gurp-gridless-active .tab[data-tab="appearance"] .form-group:has( input[name="texture.anchorX"]) {
    display: none;
}

.token-sheet.gurp-gridless-active .tab[data-tab="appearance"] .form-group:has( input[name="scale"]) {
    display: none;
}